body
{
    background-color: rgb(255, 255, 255);
    margin: 2em;
}

h1
{
    font-size: 3em;
    text-align: center;
}

ul
{
    list-style-type: none;
    padding-left: 1em;
}

ul li
{
    margin-top: 1em;
}

.homeHeader
{
    text-align: center;
    color: rgb(0, 0, 0);
}
.footer
{
    position: absolute;
    bottom: 0px;
}