<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/style.css">

    <title>Tornedalen Konsthall</title>
</head>


<body>
    <div class="homeHeader">
        <h1>Tornedalen Konsthall</h1>
    </div>

    <div class="container">
        <ul>
            <li class="info-block">
                <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat ac ante id lacinia. Quisque vel fringilla quam, in laoreet eros. 
                Mauris gravida lacinia suscipit. Suspendisse at euismod massa. Nam ullamcorper porttitor tortor id congue. Nullam in dictum eros. 
                Praesent vehicula neque a maximus pellentesque. Donec dignissim felis vel dolor imperdiet consectetur. 
                Donec vestibulum, dui in pulvinar vulputate, ligula massa facilisis sapien, a varius libero elit faucibus dolor. 
                Aliquam semper nisl et porttitor dapibus. Duis ultricies diam sagittis eros sodales, nec semper lorem euismod. 
                Phasellus sit amet odio magna. Morbi dapibus volutpat diam, at aliquam lorem condimentum viverra. 
                Ut mattis, tellus sodales luctus luctus, enim lacus tincidunt elit, vel euismod lorem sapien id risus. 
                Curabitur justo justo, aliquam ac neque eu, commodo malesuada justo. Mauris non est in risus mattis maximus. 
                Suspendisse vitae ultricies mauris, vitae placerat tortor. Sed efficitur nisl ac lacus convallis aliquet. 
                Integer faucibus aliquet iaculis. Nullam eget est nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                </div>
            </li>
        </ul>
    </div>

    <footer>
        <p>
        Öppettider
        <br>
        Mon-Fre: 08:00 - 18:00
        <br>
        Lör: 08:00 - 15:00
        <br>
        Sön: Stängt
        </p>
    </footer>
    
</body>
</html>